$texto: greenyellow;

.productos{
    cursor: pointer;
    padding: 2em 1em;
    margin: 0 1em;
    transition: 1s;
    
    
        .imagen{
            img{
                width: 250px;
                height: 250px;
                border-radius: 10px;
            }
        }
        
        .titulo{
            font-size: 1.2em;
            text-align: center;
            width: 250px;
            
                h3{
                    color: $texto;
                    font-size: 1.2em;
                }
        }

}

.productos:hover{
    scale: 1.4;
    transition: 1s;
}